<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css>
      <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico')}}">
   
      <title>Hoan Vu</title>
</head>

<body>
      <div class="body">
          <h1>Hi 👋, </h1>

          <div class="content">
            <p>I'm Hoan Vu, a Computer Science student 👨‍💻 at the University of Bonn.</p>

            <p>I'm fascinated by the potential impact of Artificial Intelligence on our future. Among other things, I like using Computer Vision to detect cats 🐱 in photos.  </p>

            <p>I embrace my thoughts on every pleasant moment in life and write them down. One of my stories got published on <a href="https://byrslf.co/some-misconceptions-about-being-ive-encountered-in-vietnam-e8365b35ae91">Be Yourself</a> and <a href="https://buibui.org/gay/">BUIBUI</a>.</p>
          </div>
      </div>

<!--Social Media--> 
     <div class="social-icon">
        <ul>
           <li>
            <a href="https://github.com/hoanW" class="fab fa-github"></a>
           </li>
        
           <li>
             <a href="https://twitter.com/hoanvietvu" class="fab fa-twitter"></a>
           </li>
        
           <li>
              <a href="https://medium.com/@hoanW" class= "fab fa-medium"></a>
           </li>
        
           <li>
              <a href="https://www.linkedin.com/in/hoanvietvu" class="fab fa-linkedin"></a>
           </li>
        
           <li>
             <a href="https://www.xing.de/profile/Hoan_Vu7/cv" class="fab fa-xing"></a>
           </li>
        
          <li>
             <a href="https://www.youtube.com/channel/UCcpMcZTakrWKZ0cnp_AFvJg" class="fab fa-youtube"></a>
          </li>
        
          <li>  
             <a href="mailto:hoanviet.vu@gmail.com" class="fas fa-envelope"></a>
          </li>
      </ul>
   </div>
   
</body>
</html>
